*.o
*.csv
*.sh
!compile_all.sh

docs
silent*
test*
'System Volume Information'

RESOURCES.md
DEPENDENCIES.md

# Cmake related files
Makefile.old
Makefile
staticlibs
cmake_tests
cmake_install.cmake
CMakeFiles
CMakeCache.txt
