*.o
*.csv
*.sh
!compile_all.sh
!clean.sh

docs
silent*
test*
'System Volume Information'

RESOURCES.md
DEPENDENCIES.md

# CLion related files
*.iml
.idea
misc.xml
modules.xml
vcs.xml
Silent_Pass.cbp

# Cmake related files
Makefile.old
Makefile
staticlibs
cmake_tests
cmake_install.cmake
cmake-*
CMakeFiles
CMakeCache.txt
